.scripts/node-red/easyaiot_flows_demo.json
[
  {
    "id": "easyaiot_demo_telemetry",
    "type": "tab",
    "label": "设备遥测采集链路",
    "disabled": false,
    "info": "EasyAIoT 演示（只读）：MQTT 遥测接入 → JSON 解析 → 阈值判定 → 调试输出。\n禁止在界面修改/删除本链路。",
    "env": []
  },
  {
    "id": "easyaiot_demo_alert",
    "type": "tab",
    "label": "告警分级推送链路",
    "disabled": false,
    "info": "EasyAIoT 演示（只读）：告警事件分级（紧急/重要/一般）→ 格式化 → 推送通道分支。\n禁止在界面修改/删除本链路。",
    "env": []
  },
  {
    "id": "easyaiot_demo_bridge",
    "type": "tab",
    "label": "工控协议桥接链路",
    "disabled": false,
    "info": "EasyAIoT 演示（只读）：模拟工控点位上报 → 物模型映射 → MQTT 上行桥接。\n禁止在界面修改/删除本链路。",
    "env": []
  },
  {
    "id": "easyaiot_demo_vision",
    "type": "tab",
    "label": "视觉质检联动链路",
    "disabled": false,
    "info": "EasyAIoT 演示（只读）：HTTP 质检回调 → AI 结果解析 → NG 联动下发。\n禁止在界面修改/删除本链路。",
    "env": []
  },

  {
    "id": "demo_tel_mqtt_in",
    "type": "mqtt in",
    "z": "easyaiot_demo_telemetry",
    "name": "遥测订阅 /easyaiot/demo/+/telemetry",
    "topic": "easyaiot/demo/+/telemetry",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "demo_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 140,
    "wires": [["demo_tel_parse"]]
  },
  {
    "id": "demo_tel_inject",
    "type": "inject",
    "z": "easyaiot_demo_telemetry",
    "name": "模拟温度上报",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "easyaiot/demo/GW-1001/telemetry",
    "payload": "{\"deviceId\":\"GW-1001\",\"ts\":0,\"temperature\":36.8,\"humidity\":55.2,\"online\":true}",
    "payloadType": "json",
    "x": 170,
    "y": 240,
    "wires": [["demo_tel_stamp"]]
  },
  {
    "id": "demo_tel_stamp",
    "type": "function",
    "z": "easyaiot_demo_telemetry",
    "name": "补全时间戳",
    "func": "msg.payload = msg.payload || {};\nif (!msg.payload.ts) {\n    msg.payload.ts = Date.now();\n}\nmsg.deviceId = msg.payload.deviceId || 'unknown';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [["demo_tel_parse"]]
  },
  {
    "id": "demo_tel_parse",
    "type": "function",
    "z": "easyaiot_demo_telemetry",
    "name": "解析遥测 JSON",
    "func": "let body = msg.payload;\nif (typeof body === 'string') {\n    try { body = JSON.parse(body); } catch (e) {\n        node.warn('遥测 JSON 解析失败: ' + e.message);\n        return null;\n    }\n}\nif (!body || typeof body !== 'object') {\n    return null;\n}\nmsg.payload = body;\nmsg.deviceId = body.deviceId || (msg.topic || '').split('/')[2] || 'unknown';\nmsg.temperature = Number(body.temperature);\nmsg.humidity = Number(body.humidity);\nmsg.metric = {\n    deviceId: msg.deviceId,\n    temperature: msg.temperature,\n    humidity: msg.humidity,\n    ts: body.ts || Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [["demo_tel_threshold"]]
  },
  {
    "id": "demo_tel_threshold",
    "type": "switch",
    "z": "easyaiot_demo_telemetry",
    "name": "温度阈值",
    "property": "temperature",
    "propertyType": "msg",
    "rules": [
      { "t": "gte", "v": "45", "vt": "num" },
      { "t": "gte", "v": "35", "vt": "num" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 760,
    "y": 180,
    "wires": [["demo_tel_high"], ["demo_tel_warn"], ["demo_tel_normal"]]
  },
  {
    "id": "demo_tel_high",
    "type": "change",
    "z": "easyaiot_demo_telemetry",
    "name": "标记：过热告警",
    "rules": [
      { "t": "set", "p": "level", "pt": "msg", "to": "critical", "tot": "str" },
      { "t": "set", "p": "payload.alert", "pt": "msg", "to": "温度过热", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 980,
    "y": 100,
    "wires": [["demo_tel_debug"]]
  },
  {
    "id": "demo_tel_warn",
    "type": "change",
    "z": "easyaiot_demo_telemetry",
    "name": "标记：温度预警",
    "rules": [
      { "t": "set", "p": "level", "pt": "msg", "to": "warning", "tot": "str" },
      { "t": "set", "p": "payload.alert", "pt": "msg", "to": "温度偏高", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 980,
    "y": 180,
    "wires": [["demo_tel_debug"]]
  },
  {
    "id": "demo_tel_normal",
    "type": "change",
    "z": "easyaiot_demo_telemetry",
    "name": "标记：正常",
    "rules": [
      { "t": "set", "p": "level", "pt": "msg", "to": "normal", "tot": "str" },
      { "t": "set", "p": "payload.alert", "pt": "msg", "to": "", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 260,
    "wires": [["demo_tel_debug"]]
  },
  {
    "id": "demo_tel_debug",
    "type": "debug",
    "z": "easyaiot_demo_telemetry",
    "name": "遥测结果",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "metric",
    "targetType": "msg",
    "statusVal": "level",
    "statusType": "msg",
    "x": 1200,
    "y": 180,
    "wires": []
  },

  {
    "id": "demo_alert_inject",
    "type": "inject",
    "z": "easyaiot_demo_alert",
    "name": "模拟告警事件",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alert/demo",
    "payload": "{\"alarmId\":\"ALM-20260723-001\",\"deviceId\":\"PUMP-03\",\"severity\":\"振动超限\",\"severityCode\":\"VIB_HIGH\",\"severity\":2,\"value\":8.6,\"unit\":\"mm/s\"}",
    "payloadType": "json",
    "x": 180,
    "y": 160,
    "wires": [["demo_alert_normalize"]]
  },
  {
    "id": "demo_alert_inject_crit",
    "type": "inject",
    "z": "easyaiot_demo_alert",
    "name": "模拟紧急告警",
    "props": [
      { "p": "payload" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"alarmId\":\"ALM-20260723-002\",\"deviceId\":\"XFMR-01\",\"severity\":\"绕组温度过高\",\"severityCode\":\"TEMP_CRIT\",\"severity\":1,\"value\":98.5,\"unit\":\"℃\"}",
    "payloadType": "json",
    "x": 180,
    "y": 240,
    "wires": [["demo_alert_normalize"]]
  },
  {
    "id": "demo_alert_normalize",
    "type": "function",
    "z": "easyaiot_demo_alert",
    "name": "规范化告警",
    "func": "const p = msg.payload || {};\nconst severity = Number(p.severity || 3);\nconst levelMap = {1: '紧急', 2: '重要', 3: '一般'};\nmsg.severity = severity;\nmsg.levelName = levelMap[severity] || '一般';\nmsg.payload = {\n    ...p,\n    severity,\n    levelName: msg.levelName,\n    receivedAt: Date.now(),\n    source: 'EasyAIoT-Demo'\n};\nmsg.channels = severity === 1\n    ? ['sms', 'voice', 'webhook']\n    : (severity === 2 ? ['webhook', 'app'] : ['app']);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 200,
    "wires": [["demo_alert_switch"]]
  },
  {
    "id": "demo_alert_switch",
    "type": "switch",
    "z": "easyaiot_demo_alert",
    "name": "按级别分流",
    "property": "severity",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "1", "vt": "num" },
      { "t": "eq", "v": "2", "vt": "num" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 620,
    "y": 200,
    "wires": [["demo_alert_urgent"], ["demo_alert_major"], ["demo_alert_minor"]]
  },
  {
    "id": "demo_alert_urgent",
    "type": "template",
    "z": "easyaiot_demo_alert",
    "name": "紧急通知模板",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "[紧急] {{payload.deviceId}} {{payload.severity}}={{payload.value}}{{payload.unit}}，请立即处置。通道: {{channels}}",
    "output": "str",
    "x": 860,
    "y": 120,
    "wires": [["demo_alert_debug"]]
  },
  {
    "id": "demo_alert_major",
    "type": "template",
    "z": "easyaiot_demo_alert",
    "name": "重要通知模板",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "[重要] {{payload.deviceId}} {{payload.severity}}，当前值 {{payload.value}}{{payload.unit}}。",
    "output": "str",
    "x": 860,
    "y": 200,
    "wires": [["demo_alert_debug"]]
  },
  {
    "id": "demo_alert_minor",
    "type": "template",
    "z": "easyaiot_demo_alert",
    "name": "一般通知模板",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "[一般] {{payload.deviceId}} {{payload.severity}}，已记录待巡检。",
    "output": "str",
    "x": 860,
    "y": 280,
    "wires": [["demo_alert_debug"]]
  },
  {
    "id": "demo_alert_debug",
    "type": "debug",
    "z": "easyaiot_demo_alert",
    "name": "推送内容",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "levelName",
    "statusType": "msg",
    "x": 1100,
    "y": 200,
    "wires": []
  },

  {
    "id": "demo_bridge_inject",
    "type": "inject",
    "z": "easyaiot_demo_bridge",
    "name": "模拟工控点位",
    "props": [
      { "p": "payload" }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "{\"slaveId\":1,\"registers\":{\"40001\":1250,\"40002\":1,\"40003\":980},\"quality\":\"good\"}",
    "payloadType": "json",
    "x": 180,
    "y": 180,
    "wires": [["demo_bridge_map"]]
  },
  {
    "id": "demo_bridge_map",
    "type": "function",
    "z": "easyaiot_demo_bridge",
    "name": "点位→物模型映射",
    "func": "const regs = (msg.payload && msg.payload.registers) || {};\nconst mapped = {\n    productKey: 'easyaiot-demo-plc',\n    deviceName: 'PLC-LINE-A',\n    timestamp: Date.now(),\n    properties: {\n        speed_rpm: Number(regs['40001'] || 0),\n        motor_run: Number(regs['40002'] || 0) === 1,\n        pressure_kpa: Number(regs['40003'] || 0) / 10,\n        quality: (msg.payload && msg.payload.quality) || 'unknown'\n    }\n};\nmsg.payload = mapped;\nmsg.topic = 'easyaiot/demo/PLC-LINE-A/property/post';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 180,
    "wires": [["demo_bridge_filter", "demo_bridge_debug"]]
  },
  {
    "id": "demo_bridge_filter",
    "type": "switch",
    "z": "easyaiot_demo_bridge",
    "name": "仅上行 good",
    "property": "payload.properties.quality",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "good", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 660,
    "y": 140,
    "wires": [["demo_bridge_mqtt_out"]]
  },
  {
    "id": "demo_bridge_mqtt_out",
    "type": "mqtt out",
    "z": "easyaiot_demo_bridge",
    "name": "MQTT 物模型上报",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "demo_mqtt_broker",
    "x": 900,
    "y": 140,
    "wires": []
  },
  {
    "id": "demo_bridge_debug",
    "type": "debug",
    "z": "easyaiot_demo_bridge",
    "name": "映射结果",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.properties.speed_rpm",
    "statusType": "msg",
    "x": 860,
    "y": 240,
    "wires": []
  },

  {
    "id": "demo_vision_http",
    "type": "http in",
    "z": "easyaiot_demo_vision",
    "name": "质检回调",
    "url": "/easyaiot/demo/vision/inspect",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 160,
    "wires": [["demo_vision_parse"]]
  },
  {
    "id": "demo_vision_inject",
    "type": "inject",
    "z": "easyaiot_demo_vision",
    "name": "模拟 NG 结果",
    "props": [
      { "p": "payload" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"lineId\":\"LINE-VIS-01\",\"sn\":\"SN20260723001\",\"model\":\"cover-a\",\"score\":0.42,\"label\":\"scratch\",\"pass\":false,\"camera\":\"CAM-3\"}",
    "payloadType": "json",
    "x": 180,
    "y": 260,
    "wires": [["demo_vision_parse"]]
  },
  {
    "id": "demo_vision_parse",
    "type": "function",
    "z": "easyaiot_demo_vision",
    "name": "解析 AI 质检结果",
    "func": "let body = msg.payload;\nif (typeof body === 'string') {\n    try { body = JSON.parse(body); } catch (e) {\n        msg.statusCode = 400;\n        msg.payload = { ok: false, error: 'invalid json' };\n        return [null, msg];\n    }\n}\nconst pass = !!(body && body.pass);\nconst score = Number(body && body.score);\nmsg.inspect = {\n    lineId: body.lineId,\n    sn: body.sn,\n    label: body.label || 'unknown',\n    score,\n    pass,\n    camera: body.camera,\n    judgedAt: Date.now()\n};\nmsg.payload = msg.inspect;\nif (pass) {\n    return [msg, null];\n}\nreturn [null, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 200,
    "wires": [["demo_vision_ok"], ["demo_vision_ng"]]
  },
  {
    "id": "demo_vision_ok",
    "type": "change",
    "z": "easyaiot_demo_vision",
    "name": "OK：放行",
    "rules": [
      { "t": "set", "p": "command", "pt": "msg", "to": "PASS", "tot": "str" },
      { "t": "set", "p": "payload.action", "pt": "msg", "to": "conveyor_continue", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 140,
    "wires": [["demo_vision_resp", "demo_vision_debug"]]
  },
  {
    "id": "demo_vision_ng",
    "type": "change",
    "z": "easyaiot_demo_vision",
    "name": "NG：剔除联动",
    "rules": [
      { "t": "set", "p": "command", "pt": "msg", "to": "REJECT", "tot": "str" },
      { "t": "set", "p": "payload.action", "pt": "msg", "to": "rejector_pulse", "tot": "str" },
      { "t": "set", "p": "payload.holdMs", "pt": "msg", "to": "300", "tot": "num" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 260,
    "wires": [["demo_vision_cmd", "demo_vision_resp", "demo_vision_debug"]]
  },
  {
    "id": "demo_vision_cmd",
    "type": "function",
    "z": "easyaiot_demo_vision",
    "name": "组装下发指令",
    "func": "msg.topic = 'easyaiot/demo/' + (msg.inspect.lineId || 'LINE') + '/service/invoke';\nmsg.payload = {\n    method: 'rejector_pulse',\n    params: {\n        sn: msg.inspect.sn,\n        reason: msg.inspect.label,\n        holdMs: 300\n    },\n    timestamp: Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 300,
    "wires": [["demo_vision_mqtt"]]
  },
  {
    "id": "demo_vision_mqtt",
    "type": "mqtt out",
    "z": "easyaiot_demo_vision",
    "name": "下发剔除指令",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "demo_mqtt_broker",
    "x": 1180,
    "y": 300,
    "wires": []
  },
  {
    "id": "demo_vision_resp",
    "type": "function",
    "z": "easyaiot_demo_vision",
    "name": "HTTP 响应",
    "func": "if (msg.req && msg.res) {\n    msg.statusCode = 200;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = {\n        ok: true,\n        command: msg.command,\n        inspect: msg.inspect\n    };\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 160,
    "wires": [["demo_vision_http_out"]]
  },
  {
    "id": "demo_vision_http_out",
    "type": "http response",
    "z": "easyaiot_demo_vision",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1180,
    "y": 160,
    "wires": []
  },
  {
    "id": "demo_vision_debug",
    "type": "debug",
    "z": "easyaiot_demo_vision",
    "name": "质检判定",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "inspect",
    "targetType": "msg",
    "statusVal": "command",
    "statusType": "msg",
    "x": 960,
    "y": 220,
    "wires": []
  },

  {
    "id": "demo_mqtt_broker",
    "type": "mqtt-broker",
    "name": "EasyAIoT Demo MQTT",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "easyaiot-nodered-demo",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "demo_global_comment",
    "type": "comment",
    "z": "easyaiot_demo_telemetry",
    "name": "EasyAIoT 内置演示 · 只读保护",
    "info": "本仓库 `.scripts/node-red` 种子数据。平台与 Node-RED 中间件均禁止修改/删除四个演示页签。",
    "x": 220,
    "y": 60,
    "wires": []
  }
]
